@use '../helpers' as *;

body.home {
	.siteheader {
		[data-scrollposition=top] & {
			background-color: transparent;
			@include breakpoint(tablet-landscape) {
				&-logo,
				&-nav li:not(.highlight):not(:hover) {
					opacity: 0.1;
				}
			}
		}
	}
	&::before {
		pointer-events: none;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 120vh;
		background-image: linear-gradient(0, var(--color-default-bg), var(--color-secondary-bg)); 
		z-index: 0;
	}
	 .sitemain,
	.is-root-container {
		padding-top: 0;
	}
}
.sitemain,
.is-root-container {
	.wp-block-group.top_hero {
		gap: 4rem;
		display: flex;
		width: 100%;
		min-height: calc(90vh - var(--header-height));
		align-items: start;
		justify-content: space-between;
		@include breakpoint(tablet-landscape) {
			grid-column: 1/-1;
			min-height: calc(100vh - var(--header-height-desktop));
			padding-top: 4rem;
			padding-bottom: 8rem;
			> * {
				position: relative;
				z-index: 2;
			}
			&::after {
				content: '';
				position: fixed;
				z-index: 4;
				opacity: 0;
				top: 38vh;
				left: -20rem;
				width: 3rem;
				height: 3rem;
				color: var(--color-primary);
				transition: all 0.3s ease-in-out;
				@include masked-icon(arrow-right, 16rem);
				filter: blur(2px);
				.side-arrow-in & {
					opacity: 0.2;
					left: 3rem;
				}
				.side-arrow-gone & {
					opacity: 0;
					left: 33rem;
				}
			}
			&::before {
				content: '';
				position: fixed;
				z-index: 3;
				top: calc(38vh + 7rem);
				left: -23rem;
				width: 3rem;
				height: 2.3rem;
				background-color: var(--color-primary);
				transition: all 0.3s ease-in-out;
				.side-arrow-in & {
					opacity: 0.2;
					left: 0rem;
				}
				.side-arrow-gone & {
					opacity: 0;
					left: 30rem;
				}
			}
		}
		h1 {
			font-size: 32vw;
			line-break: anywhere;
			line-height: 0.9;
			b, strong {
				font-weight: 600;
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke: 1px;
				display: inline-block;
				@include breakpoint(tablet-landscape) {
					-webkit-text-stroke: 2px;
				}
			}
			@include breakpoint(tablet-landscape) {
				line-break: unset;
				line-height: 0.8;
				order: 2;
				font-size: 15vw;
			}	
			@include breakpoint(max-width) {
				font-size: 25rem;
			}
		}
		h2 {
			@include breakpoint(tablet-landscape) {
				order: 1;
			}
		}
		.hero-copy {
			@include breakpoint(tablet-landscape) {
				padding-left: 70%;
				p {
					line-height: 1.8;
				}
			}
		}
		.svgdraw {
			display: none;
			@include breakpoint(tablet-landscape) {
				position: fixed;
				z-index: 1;
				display: flex;	
				width: 100vw;
				height: 24vw;
				stroke: var(--color-primary);
				stroke-width: 4rem;
				top: 35vh;
        		left: -2vw;
				pointer-events: none;
        		filter: blur(1px);
				opacity: 0.2;
			}
			@include breakpoint(tablet-landscape-lg) {
				stroke-width: 2.4rem;
				top: 28vh;
			}
			@include breakpoint(max-width) {
				stroke-width: 2rem;
				top: 20vh;
			}
		}
	}
}