/* PALETTE */
/* dove possibile riprendiamo i colori settati come CSS vars in theme.json per non duplicare valori */
:root {
  --color-primary: var(--wp--preset--color--delft-blue);
  --color-secondary: var(--wp--preset--color--blue-gray);
  --color-text: var(--wp--preset--color--black);
  --color-text-inverted: var(--wp--preset--color--white);
  --color-default-bg: var(--wp--preset--color--white);
  --color-secondary-bg: var(--wp--preset--color--white-smoke);
} 