@use 'breakpoints' as *;

:root {
    --font-size-root: 10px;
    --font-family-primary: var(--wp--preset--font-family--primary);
    --font-family-secondary: var(--wp--preset--font-family--secondary);
}

@include breakpoint(tablet-landscape) {
  :root {
    // wp--preset--font-size default (mobile) definite in theme.json
    --wp--preset--font-size--medium: 3rem;
    --wp--preset--font-size--large: 4.5rem;
    --wp--preset--font-size--extra-large: 7rem;
    //
    --font-lineheight-tight: 1.2;
    --font-lineheight-normal: 1.5;
    --font-lineheight-loose: 1.8; 
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    line-height: inherit;
    &:has(.icon) {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}

%font-base {
    font-family: var(--font-family-primary);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    font-kerning: normal;
    //font-weight: 400;
    //font-style: normal;
    margin: 0;
}

%font-primary-xs {
    @extend %font-base;
    font-size: 1.2rem;
    @include breakpoint(tablet-landscape) {
        font-size: 1.4rem;
    }
    
}

%font-primary-s {
    @extend %font-base;
    font-size: 1.6rem;
    @include breakpoint(tablet-landscape) {
        font-size: 1.8rem;
    }
}

%font-primary-m {
    @extend %font-base;
    font-size: 2.4rem;
}


%font-primary-l {
    @extend %font-base;
    line-height: 1.2;
    font-size: 2.8rem;
    @include breakpoint(tablet-landscape) {
        font-size: 3.6rem;
    }
}


%font-primary-xl {
    @extend %font-base;
    line-height: 1.2;
    font-size: 3.6rem;
    @include breakpoint(tablet-landscape) {
        font-size: 4.8rem;
    }
}

%font-primary-mega {
    @extend %font-base;
    line-height: 1.2;
    font-size: 4.8rem;
    @include breakpoint(tablet-landscape) {
        font-size: 8rem;
    }
}

%font-primary-huge {
    @extend %font-base;
    line-height: 1.2;
    font-size: 6.4rem;
    @include breakpoint(tablet-landscape) {
        font-size: 12rem;
    }
}

