{% extends "base.twig" %}
{% block content %}
	<h1 class="logotitle" aria-label="Centro Odós - Osteopatia e Fisioterapia">
		<img src="{{ theme.uri }}/assets/img/logotipo.svg" alt="Centro Odós - Logo">
	</h1>
	<section class="content">
		<h2 class="content-title">
			<span>Centro di</span>
			<span>Osteopatia e Fisioterapia</span>
		</h2>
		<i class="content-decor" aria-hidden="true">↓</i>
		<!-- Beebeeboard link widget begin -->
		<a class="content-cta" href="javascript:void(0)" onclick="Beebeeboard.initPopupWidget({url: 'https://odos.beebeeboard.com/booking'});return false;">Prenota</a>
		<!-- Beebeeboard link widget end -->
		<p class="content-address">
			<span>Via Carlo Farini 52, Milano</span>
			<span>3517288435 · info@odosmilano.it</span>
		</p>
	</section>
	    <link href="https://beebeeassets.beebeeboard.com/assets/booking_asset/widget.css" rel="stylesheet">
    <script async src="https://beebeeassets.beebeeboard.com/assets/booking_asset/widget.js" type="text/javascript"></script>
{% endblock %}